<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

{% for device_name in devices_config %}
    {% for measurement_name in devices_config[device_name] %}
        <-- ce4defda-9ceb-46fd-8d4e-50cb2e58b8d8 -->
        <iframe
                src="http://localhost:3000/d-solo/{{ devices_config[device_name][measurement_name].grafana_id }}/alex-home?orgId=1&theme=light&panelId=2&from=now-24s&to=now&refresh=5s"
                width="450" height="200" frameborder="0"></iframe>
    {% endfor %}
{% endfor %}





<script>

</script>
</body>

<style>

</style>

</html>